@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">KODOTI Commerce</h1>
    <p>Proyecto desarrollado en Microservicios con .NET 6.</p>
    

    <hr />

    <div>
        <h3><b>@User.Identity.Name</b>, que bueno tener aquí de nuevo.</h3>
    </div>
</div>
